/* GLOBAL */
html, body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    background: #fff;
    letter-spacing: 1px;
    font-size: 16px;
    box-sizing: border-box;    
}
.heading h2{
    font-size: 50px;
    color: #2c363e;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px rgb(0 0 0 / 37%);
    text-align: center;
    

}
.heading p{
    font-size: 15px;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    color: #5e5e5e;
    line-height: 1.8em;
    letter-spacing: 1px;
}
.spaceX{
    margin-top: 40px;
}
h1, h2, h3, h4, h5{
    font-family: 'Roboto Condensed', sans-serif;
}


/* HEADER */
/* HEADER TOP */
.header_top{
    padding: 10px 0;
    background-color: #363d41;
}
.header_top_items{
    padding: 0 15px;
}
.header_top_right{
    text-align: right;
    
}
.header_top_right a{
    color: white;
    text-decoration: none;
} 
.header_top_left a{
    margin-right: 10px;
    color: white;
    transition: all .5s;
   
}
.header_top_left i{
    line-height: 29px;
    font-size: 1rem;
    width: 30px;
    height: 30px;
}
.header_top_left a:first-child:hover{
    color: #0275d8;
}
.header_top_left a:nth-child(2):hover{
    color: #4aa8fa;
}
.header_top_left a:nth-child(3):hover{
    color: #dc3545;
}
.header_top_left a:nth-child(4):hover{
    color: #025fb1;
}

/* Header Bottom */

.navInstruction .design_logo{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #868c94;
    text-decoration: none;
}
.navInstruction .design_logo span{
    color:#7f67f8 ;
    font-size: 34px;
    font-weight: 600;
}
.navInstruction .nav-link{
    color: black;
    font-size: 14px;
    line-height: 1.5;
    transition: all .5s;
    font-weight: bold;
    margin: 0 15px;
}
#navbarNavDropdown .nav-item:hover .nav-link{
    color: #7f67f8;
}
#navbarNavDropdown .nav-item.active{
    color: #7f67f8;
}


#navbarNavDropdown .dropdown-menu li:first-child{
    border-bottom: solid 1px rgba(0, 0, 0, 0.212);
}

.navInstruction .navbar-toggler{
    background-color: #7f67f8;
    border: solid 1px black;
    margin-top: 5px;
    border-radius: 6px;
}
.navbar-toggler:focus{
    box-shadow: none;
}

/* Carousel */

.mergedCarousel{
    background-image: url('../img/b1.jpg');
    min-height: 700px;
    text-align: center;
    background-size: cover;
    position: relative;
    
}
.mergedCarousel .carouselBackgroundCover{
    /* background-color: rgba(0, 0, 0, 0.37); */
    background: rgba(0, 0, 0, 0.37);
    width: 100%;
    height: 100%;
    position: absolute;

   
}


.mergedCarousel .carousel_block_text{
   position: absolute;
   top: 50%;
   left: 50%;

/* chi ap dung voi the co position absolut */
     transform: translate(-50%,-50%); 
}
.mergedCarousel .carousel_block_text h1{
    color: white;
    letter-spacing: .2em;
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.4em;
    
}
.mergedCarousel .carousel_block_text p{
    color: white;
    width: 70%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 28px;
    margin: 20px auto 40px;
    letter-spacing: 1px;
}
.mergedCarousel .carousel_block_text .carousel_button button{
    padding: 8px 30px;
    color: white;
    border-radius: 0;
    transition: all .8s;
    margin: 0 2px;
}
.mergedCarousel .carousel_block_text .carousel_button .button1{
    border: 1px solid #fdfdfd;
   
}
.mergedCarousel .carousel_block_text .carousel_button .button2{
    border: 1px solid #7f67f8;
    background: #7f67f8;
    
    
}

.mergedCarousel .carousel_block_text .carousel_button .button1:hover{
    border: 1px solid #7f67f8;
    background: #7f67f8;
}
.mergedCarousel .carousel_block_text .carousel_button .button2:hover{
    border: 1px solid #fdfdfd;
    background: none;
}

.mergedCarousel .carousel_block_text .owl-theme .owl-dots{
    margin-top: 80px;
    transition: all .5s;
}
 .carousel_block_text .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;  
}
.carousel_block_text .owl-theme .owl-dots .owl-dot.active span {
    background: #7f67f8; 
}

/* GETTING SECTION */
 
.gettingTittle{
    margin-bottom: 50px;
}
.gettingSection .bord{
    background: #e8e8e8;
    height: 1px;
    width: 75%;
    margin: 0 auto 3em;
}
.gettingSection .gettingContent{
    text-align: center;
    width: 85%;
}
.gettingSection .gettingContent i{
    font-size: 40px;
    color: #f97c69;
}
.gettingSection .gettingContent h3{
    font-size: 22px;
    color: #151515;
    letter-spacing: .075em;
    font-weight: 600;
    text-transform: capitalize;
    margin: 20px 0;
}
.gettingSection .gettingContent p{
    font-size: 15px;
    margin: 0;
    color: #777;
    font-weight: 400;
    line-height: 1.8em;

}
.gettingSection .gettingContent .mid_box{
    border-left: 1px solid #e8e8e8 ;
    border-right: 1px solid #e8e8e8 ;
}
/* COUNTER and CONTACT */
.contactSection {
    background-image: url('../img/3.jpg');
    padding: 6em;
    text-align: center;
    background-position: center;
    background-size: cover;
}
.contactSection .contact_content h3{
    font-size: 40px;
    color: white;
    letter-spacing: 4px;
}
.contactSection .contact_content a{
    font-size: 1em;
    color: #fff;
    background: #7f67f8;
    padding: 0.7em 2em;
    letter-spacing: 2px;
    display: inline-block;
    text-decoration: none;
    transition: all .5s;
}
.contactSection .contact_content a:hover{
    background: #f97c69;
}

.counterContent .counterContent_header{
    text-align: center;
    width: 50%;
    margin: 30px auto;
}
.counterContent .counterContent_header h2{
    font-size: 40px;
}


.counterContent .counterContent_body .counter_item{
    text-align: center;
    margin-top: 20px;
}
.counterContent .counterContent_body .counter_item .counter{
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: 2px;
    color: #f97c69;
    margin: 0 0 0.2em 0;
}
.counterContent .counterContent_body .counter_item h4{
    font-size: 20px;
    color: #2c363e;
    letter-spacing: 2px;
    font-weight: 600;
}
.counterContent .counterContent_body .counter_item .counter_txt p{
    font-size: 15px;
    margin-top: 0.8em;
    color: #777;
}

/* SERVICE */
.serviceSection{
    background-image: url('../img/3.jpg');
    background-size: cover;
    text-align: center;
    padding-top: 40px;
}

.serviceSection_header h3{
    font-size: 40px;
    color: white;
}
.serviceSection_header p{
    font-size: 15px;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    color: white;
    line-height: 1.8em;
    letter-spacing: 1px;
}
.serviceSection_body{
    padding: 3em 1.5em;
}
.serviceSection_body .service_odd{
    color: white;
    background-color: #f97c69;
    padding: 2em;
}
.serviceSection_body .service_even{
    color:#2c363e;
    background-color:white;
    padding: 2em;
}
.serviceSection_body i{
    font-size: 3em;
}
.serviceSection_body .service_even i{
    color: #f97c69;
}
.serviceSection_body h4{
    font-size: 1.5em;
    margin: 1em 0;
    letter-spacing: 2px;
    font-weight: 600;
}

.serviceSection_body p{
    font-weight: 400;
    line-height: 1.9em;
}

/* CUSTOMER */
.customerSection_body .owl-two{
    text-align: center;
    padding: 40px 10px;
    margin-right: 10px;
}
.customerSection_body .owl-two .item{
    text-align: center;
    
}
.owl-carousel .owl-item img{
    display: inline-block;
    width: 110px;
}
.customerSection_body img{
    border-radius: 50%;
    width: 110px;
    background: #666377;
    padding: 5px;
    vertical-align:middle;
}
.customerSection_body .customer_detail h4{
    color: #2c363e;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 0;
    letter-spacing: 2px;
}
.customerSection_body .customer_detail p{
    font-size: 14px;
    color: #777;
    margin: 10px 0;
    line-height: 24px;
}
.customerSection .customerSection_body .owl-theme .owl-dots {
    margin-top: 50px;
}
.customerSection_body .owl-theme .owl-dots .owl-dot span {
   background:  #f97c69;
   opacity: 0.5;
   
}
.customerSection_body .owl-theme .owl-dots .owl-dot.active span, .customerSection_body .owl-theme .owl-dots .owl-dot span:hover{
    background: #f97c69;
    opacity: 1;
}




/* +++++++++++++++++RESPONSIVE++++++++++++++++ */
@media screen and (max-width:991.98px) {
    /* Header */
    .navInstruction .bar_items{
        background-color: black;
    } 
    .navInstruction .nav-link{
        color: white;
    }
    /* Carousel */
    .mergedCarousel{
        min-height: 560px;
    }
    .mergedCarousel .carousel_block_text h1{
        font-size: 4vw;
    }
    .mergedCarousel .carousel_block_text p{
        font-size: 1.8vw;
    }
    /* .mergedCarousel .carousel_block_text .carousel_button button{
        font-size: 1.8vw;
    } */
    /* GETTING SECTION */
    .gettingSection .gettingContent h3{
        font-size: 20px;
    }
    .gettingSection .gettingContent p{
        font-size: 14px;
    }
}

@media screen and (max-width:768.98px){
     /* Carousel */
     .mergedCarousel{
        min-height: 490px;
    }
    .mergedCarousel .carousel_block_text .owl-theme .owl-dots{
        margin-top: 50px;
    }
}
@media screen and (max-width:736px){
    /* Carousel */
    .mergedCarousel{
       min-height: 455px;
   }
}
@media screen and (max-width:568px){
    /* Carousel */
    .mergedCarousel{
       min-height: 420px;
   }
   .mergedCarousel .carousel_block_text .owl-theme .owl-dots{
       margin-top: 20px;
   }
}
@media screen and (max-width:575.98px){
    .gettingSection .gettingContent .mid_box{
        border-left: none;
        border-right: none;
        border-top: 1px solid #e8e8e8 ;
        border-bottom: 1px solid #e8e8e8;
        margin: 15px 0;
        padding: 15px 0;
    }
}